.hero{
    padding: 0 25px;
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../../assets/background/MainBackground.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    overflow: hidden;
}

@supports (background-image: -webkit-image-set(url('../../../assets/background/MainBackground.webp') 1x)) {
    .hero {background-image: -webkit-image-set(url('../../../assets/background/MainBackground.webp') 1x) }
}

.hero__container{
    margin: 96px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-btn{
    min-width: 159px;
    width: 159px;
    height: 69px;
    border: 1px solid white;
    border-radius: 40px;
    background: transparent;
    cursor: pointer;
    transition: 0.3s ease-out;

    font-size: 20px;
    font-weight: 510;
    line-height: 31px;
    text-align: center;
    color: white;
}

.hero__actions{
    margin-top: 115px;
    max-width: 845px;
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.hero__links{
    margin-top: 192px;
    max-width: 1190px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__link{
    font-size: 24px;
    font-weight: 510;
    line-height: 31px;
    text-align: center;
    color: white;
}

.hero__actions--small{
    display: none;
}

@media(max-width: 800px){
    .hero__actions--large{
        display: none;
    }

    .hero__actions--small{
        display: flex;
    }

    .hero__actions{
        flex-direction: column;
        gap: 5px;
        align-items: center;
        margin-top: 0;
    }

    .hero__links{
        margin-top: 0;
    }

    .hero__container{
        margin: 0;
        min-height: calc(100vh - 70px);
        padding: 92px 0 60px;
        gap: 50px;
        justify-content: space-between;
    }

    .hero-btn:after{
        content: "";
        position: absolute;
        display: block;
        width: 1000px;
        height: 0.5px;
        background: rgba(255, 255, 255, 0.5);
        top: 50%;
    }

    .hero-btn--left:after{
        left: 0;
        transform: translate(-100%, -50%);
    }

    .hero-btn--right:after{
        right: 0;
        transform: translate(100%, -50%);
    }

    .hero-btn{
        color: rgba(255, 255, 255, 0.8);
        border-color: rgba(255, 255, 255, 0.5);
    }

    .hero__link{
        color: rgba(255, 255, 255, 0.7);
    }
}

@media (max-width: 500px){
    .hero-btn{
        position: relative;
        height: 50px;
        width: 115px;
        min-width: 115px;
        font-size: 16px;
    }

    .hero__link{
        font-size: 16px;
    }
}