.homes{
    padding: 44px 25px 70px;
    overflow: hidden;
}

.homes__container{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0 auto;
    width: 100%;
    max-width: 1190px;
}

.house-card{
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 1);
    position: relative;
    width: 342px;
    min-width: 342px;
    height: 367px;
    overflow: hidden;
}

.house-card__imagebox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 342px;
    height: 283px;
}

.house-card__visible{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
}

.house-card__title{
    font-size: 20px;
    font-weight: 410;
    line-height: 20px;
    text-align: center;
    color: white;
}

.house-card__price{
    font-size: 20px;
    font-weight: 30;
    line-height: 20px;
    text-align: left;
    color: white;
}

.house-card__info{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 16px 18px 19px;
    gap: 9px;
}

.house-card__hover{
    opacity: 0;
    padding: 45px 41px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(15, 15, 15, 0.8);
}

.house-card__description{
    font-size: 13px;
    font-weight: 400;
    line-height: 16.9px;
    text-align: center;
    color: white;
}

.house-card__btn{
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 1);
    color: white;
    font-family: "Times New Roman", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    width: 146px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease-out;
}

.carousel{
    position: relative;
    width: 100%;
    margin: 85px auto 70px;
}

.carousel__container{
    /*overflow: hidden;*/
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 82px;
    transition: 0.3s ease-out;
}

.carousel__inner{
    width: calc(100% + 2px);
    overflow: hidden;
}

.left-arrow-btn{
    opacity: 0;
    position: absolute;
    background: transparent;
    border: none;
    cursor: pointer;
    top: 163px;
    left: -72px;
    transition: all 0.3s linear;
}

.right-arrow-btn{
    position: absolute;
    background: transparent;
    border: none;
    cursor: pointer;
    top: 163px;
    right: -72px;
    transition: all 0.3s ease-in;
}

.homes__title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

@media (max-width: 1300px) {
    .carousel {
        max-width: 766px;
    }
}

@media (max-width: 1200px) {
    .homes__title{
        justify-content: center;
    }
    .homes{
        padding: 11px 25px 0;
    }
    .carousel{
        width: 100vw;
    }
}

@media (max-width: 950px) {
    .left-arrow-btn{
        display: none;
    }
    .right-arrow-btn{
        display: none;
    }
    .carousel{
        max-width: 1000px;
        margin: 51px -25px;
    }
    .carousel__container{
        width: 2526px;
        padding: 0 25px;
    }
    .carousel__container{
        gap: 26px;
        justify-content: start;
    }
    .carousel__inner{
        overflow: scroll;
        scrollbar-width: none;
    }

    .house-card{
        width: 252px;
        min-width: 252px;
        height: 293px;
    }
    .house-card__imagebox{
        width: 252px;
        height: 207px;
    }
    .house-card__imagebox img{
        width: 100%;
    }
    .house-card__info{
        padding: 15px 15px 0;
    }
    .house-card__title{
        font-size: 18px;
    }
    .house-card__price{
        font-size: 18px;
    }
    .house-card__hover{
        padding: 25px;
        height: 293px;
        justify-content: space-between;
        gap: 0;
    }
    .house-card__description{
        font-size: 11px;
        line-height: 14.3px;
    }
    .house-card__btn{
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        width: 130px;
        min-height: 40px;
    }
}