@font-face {
  font-family: 'Katibeh';
  font-weight: 400;
  font-style: normal;
  src: local('Katibeh'),
  url("./fonts/Katibeh/Katibeh-Regular.woff2") format('woff2'),
  url("./fonts/Katibeh/Katibeh-Regular.woff") format('woff'),
  url("./fonts/Katibeh/Katibeh-Regular.eot") format('eot');
  font-display: swap;
}

@font-face {
  font-family: 'Radley';
  font-weight: 400;
  font-style: normal;
  src: local('Radley'),
  url("./fonts/Radley/Radley-Regular.woff2") format('woff2'),
  url("./fonts/Radley/Radley-Regular.woff") format('woff'),
  url("./fonts/Radley/Radley-Regular.eot") format('eot');
  font-display: swap;
}

body{
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background: rgba(15, 15, 15, 1);
  overflow-x: hidden;
}

html{
  scroll-behavior: smooth;
}

header{
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(15, 15, 15, 1);
  /*background: black;*/
  z-index: 6;
}

:root {
  background: rgba(15, 15, 15, 1);
  scrollbar-width: none;
  /*background: black;*/
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 1;
}

a:active, /* активная/посещенная ссылка */
a:hover,  /* при наведении */
a {
  text-decoration: none;
}

.container{
  max-width: 1512px;
  margin: 0 auto;
}

input{
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

textarea{
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  resize: none;
}